.row
  .pagination.pagination-right
    - unless @data.nil?
      = paginate @data, :params => {:action => paginate_action}, remote: true
  .span10
    - if !@data.nil?
      - @data.each_slice(4).to_a.each do |row|
        .row-fluid
          %ul.thumbnails
            -row.each do |book_data|
              %li.span3.text-center
                .thumbnail
                  %a{:href => "#{price_details_path(book_data[:id])}", "data-remote" => true}
                    %img{:alt => "", :src => "#{book_data[:images]}", style: "height: 140px;"}
                  %p
                    %a{:href => "#{price_details_path(book_data[:id])}", "data-remote" => true}
                      = label_tag book_data[:title], nil, class: 'bold', style: "font-size: 16px" 
                  %p.book_author
                    %strong By:
                    = book_data[:author]
                  %p
                    - min_price = BookDetail.book_price(book_data).first
                    %a.min_price{:href => "#{min_price[:book_detail_url]}", target: "_blank"}
                      %strong
                        %a.initialism{title: "buy @#{min_price.site[:name]}"}
                          = "Best Buy ₹ #{min_price[:price]}"
                          = hidden_field_tag "min_price_site_name", min_price.site[:name]
    - else
      %p
        %p
          %strong No matching books found
.row
  .pagination.pagination-right
    - unless @data.nil?
      = paginate @data, :params => {:action => paginate_action}, remote: true