#my_div.container
  = link_to "refresh", refresh_details_path
  - if @data.present?
    .pagination.pagination-right
      = paginate @data, :params => {:action => 'show'}, remote: true
    - @data.each_slice(4).to_a.each do |row| 
      .row-fluid
        %ul.thumbnails
          -row.each do |item|
            %li.span3
              %a{:href => "#{price_details_path(item[:id])}","data-remote" => true}
                .thumbnail{style: "height: 300px; padding-top: 7px;"}            
                  %img{:alt => "", :src => "#{item[:images]}"}
                  %p
                    =item[:title]
                  %p
                    %strong By:
                    =item[:author]
                  %p
                    %strong Best Buy Price:
                    - min_price = BookDetail.book_price(item).first
                    = min_price[:price]
    .pagination.pagination-right
      = paginate @data, :params => {:action => 'show'}, remote: true
  - else
    %p
      %p
        %strong No records found
