.row
  .pagination.pagination-right
    - unless @data.nil?
      = paginate @data, :params => {:action => paginate_action}, remote: true
  .span10
    - if !@data.nil?
      - @data.each_slice(4).to_a.each do |row|
        .row-fluid
          %ul.thumbnails
            -row.each do |book_data|
              %li.span3
                .thumbnail
                  %p.text-center
                    %a{:href => "#{price_details_path(book_data[:id])}", "data-remote" => true}
                      %img{:alt => "", :src => "#{book_data[:images]}", style: "height: 140px;"}
                  %h3
                    %a{:href => "#{price_details_path(book_data[:id])}", "data-remote" => true}
                      -if book_data[:title].length < 50
                        = book_data[:title]
                      - else
                        = "#{book_data[:title][1..52]}..."
                  .bookInfo
                    %p.book_author
                      %strong By:
                      = book_data[:author].presence || ''
                    %p
                      - min_price = BookDetail.book_price(book_data).first
                      %a.min_price{:href => "#{min_price[:book_detail_url]}", target: "_blank"}
                        %strong
                          %a{title: "Buy from #{min_price.site[:name]}"}
                            = "Best Buy ₹ #{min_price[:price]}"
    - else
      %p
        %p
          %strong No matching books found
.row
  .pagination.pagination-right
    - unless @data.nil?
      = paginate @data, :params => {:action => paginate_action}, remote: true