.row
  .pagination.pagination-right
    - if !@data.nil?
      = paginate @data, :params => {:action => 'show'}, remote: true
  .span10
    = link_to "refresh", refresh_details_path
    - if !@data.nil?
      - @data.each_slice(4).to_a.each do |row| 
        .row-fluid
          %ul.thumbnails
            -row.each do |item|
              %li.span3.text-center
                .thumbnail{style: "height: 300px; padding-top: 7px;",class: "thumbnail_book"}
                  %a{:href => "#{price_details_path(item[:id])}","data-remote" => true}
                    %img{:alt => "", :src => "#{item[:images]}", style: "height: 140px;"}
                  %p
                    %a{:href => "#{price_details_path(item[:id])}","data-remote" => true}
                      =item[:title]
                  %p
                    %a{:href => "#{price_details_path(item[:id])}","data-remote" => true}
                      %strong By:
                      =item[:author]
                  %p
                    %a{:href => "#{price_details_path(item[:id])}","data-remote" => true}
                      %strong Best Buy Price:
                      - min_price = BookDetail.book_price(item).first
                      = min_price[:price]
    - else
      %p
        %p
          %strong No records found
.row
  .pagination.pagination-right
    - if !@data.nil?
      = paginate @data, :params => {:action => 'show'}, remote: true