.span7
	.span2{style: "margin-top: 25px;"}
		= image_tag("#{@show_book_details[:images]}",style: "height: 150px;")
		#star
	.span4{style: "font-size: 13px;"}
		%dl.dl-horizontal
			%h5
				= @show_book_details[:title]
			%dt{style: "text-align: left; width: 100px;"} By :
			%dd
				= hidden_field_tag 'avg_rating', @avg_rating
			%dd 
				=@show_book_details[:author]
			%dt{style: "text-align: left; width: 100px;"} ISBN :
			%dd#book_isbn
				= @show_book_details[:isbn]
			%dt{style: "text-align: left; width: 100px;"} Publisher :
			%dd
				= @show_book_details[:publisher]
			%dt{style: "text-align: left; width: 100px;"} Language :
			%dd
				= @show_book_details[:language]
			- if !@category_details.nil?
				%dt{style: "text-align: left; width: 100px;"} Category :
				%dd			
					- @category_details.each do |category_detail|
						= link_to category_detail[:category_name], show_books_by_category_path(category_detail[:id]),method: :get,class: "book_category_link",remote: true
						\|
.span5{style: "margin-left: 60px; margin-top: 21px;"}
	%table.table.table-striped{style: "margin-bottom: 0px;"}
		%tr
			%td
				= "Site"
			%td
				= "Price"
			%td
				= "Discount"
			%td
				= "Rating"
		- index = 0
		- @price_list.each do |price|
			%tr
				%td{style: "width: 139px;"}
					- s = Site.site_name(price[:site_id]).first
					= link_to s[:name], "#{price[:book_detail_url] }",target: "_blank"
				%td{style: "width: 50px;"}
					- if !price[:price].nil?
						= link_to price[:price], "#{price[:book_detail_url] }",target: "_blank"
					- else
						= "-"
				%td{style: "width: 83px;"}
					- if !price[:discount].nil?
						= link_to price[:discount], "#{price[:book_detail_url] }",target: "_blank"
						\%
					- else
						= "-"
				%td
					- if !price[:rating].nil?
						= hidden_field_tag "rating_#{index}", price[:rating]
						.separate_star_rating{id: "star_#{index}"}
						- index = index + 1
					- else
						= "-"
	#books_price
	.ajax-progress-1
.span7
	- if !@show_book_details[:description].nil?
		= @show_book_details[:description].html_safe