.span7
	.span2{style: "margin-top: 25px;"}
		= image_tag("#{@show_book_details[:images]}",style: "height: 150px;")
		#star
	.span4{style: "font-size: 13px;"}
		%dl.dl-horizontal
			%h5
				= @show_book_details[:title]
			%dt{style: "text-align: left; width: 100px;"} By :
			%dd
				= hidden_field_tag 'avg_rating', @avg_rating
			%dd 
				=@show_book_details[:author]
			%dt{style: "text-align: left; width: 100px;"} ISBN :
			%dd#book_isbn
				= @show_book_details[:isbn]
			%dt{style: "text-align: left; width: 100px;"} Publisher :
			%dd
				= @show_book_details[:publisher]
			%dt{style: "text-align: left; width: 100px;"} Language :
			%dd
				= @show_book_details[:language]
			%dt{style: "text-align: left; width: 100px;"} Category :
			%dd
				#book_category_details
					=render :partial => 'book_category_details', :locals => {book_category_details: @category_details}
.span6{style: "margin-left: 60px; margin-top: 21px;"}
	#books_price
		=render :partial => 'show_price', :locals => {new_price_list: @price_list}
.span7
	- if !@show_book_details[:description].nil?
		= @show_book_details[:description].html_safe