#price_list.span6{style: "margin-left: 0px;"}
	%table.table.table-striped
		%tr
			%th

			%th
				= "Site"
			%th
				= "Price"
			%th
				= "Discount"
			%th
				= "Rating"
			%th
				= "No. Uers Rated"
			%th
				= "Delivery Days"
			%th
			
		- index = 0
		-unless new_price_list.nil?
			= hidden_field_tag 'new_avg_rating', @new_avg_rating
			- new_price_list.each do |price|
				%tr
					- site = Site.site_name(price[:site_id]).first
					%td
						- case site.name
							- when "amazon"
								= image_tag("amazon_ico.png", size: "20x20")
							- when "flipkart"
								= image_tag("favicon_b994e296.ico", size: "20x20")
							- when "landmarkonthenet"
								= image_tag("favicon_ico.ico", size: "20x20")
							- when "crossword"
								= image_tag("crossword_ico.ico", size: "20x20")
							- when "unread"
								= image_tag("unread_ico.ico", size: "20x20")
					%td{style: "width: 139px;"}
						= link_to site[:name], "#{price[:book_detail_url] }",target: "_blank"
					%td{style: "width: 50px;"}
						- if !price[:price].nil?
							= link_to price[:price], "#{price[:book_detail_url] }",target: "_blank"
						- else
							= "-"
					%td{style: "width: 83px;"}
						- if !price[:discount].nil?
							= link_to price[:discount], "#{price[:book_detail_url] }",target: "_blank"
							\%
						- else
							= "-"
					%td
						- if !price[:rating].nil?
							= hidden_field_tag "new_rating_#{index}", price[:rating]
							.new_separate_star_rating{id: "new_star_#{index}"}
							- index = index + 1
						- else
							= "-"
					%td
						= price[:rating_count]
					%td
						= price[:delivery_days]
					%td
						%a{href: "#{price[:book_detail_url] }",target: "_blank"}
							%i.icon-shopping-cart
	.ajax-progress-1
