%table.table.table-striped.isbn_table
	%tr
		%th.isbn
			= "ISBN"
		%th.title
			= "Title"
		%th.occurrence
			= "Occurrence"
		%th.destroy
	- @search.presence || @search = "0"
	- @books_isbn.each do |book_isbn|
		%tr
			%td.isbn
				= book_isbn.isbn
			%td.title
				= book_isbn.title
			%td.occurrence
				= book_isbn.occurrence
			%td.destroy
				= link_to "destroy", manually_add_isbn_destroy_path(book_isbn.id, @search), remote: true
- unless @books_isbn.nil?
	.offset6
		= link_to "Fetch Book's Detail's", manually_add_books_path, method: :get, :class => 'refresh_book_details', remote: true, title: "Click to fetch the data"
	= paginate @books_isbn, :params => {:action => paginate_action}, remote: true