%table.table.table-striped.isbn_table
	%tr
		%th.isbn
			= "ISBN"
		%th.title
			= "Title"
		%th.occurrence
			= "Occurrence"
		%th.destroy
	- @search.presence || @search = "null"
	- @books_isbn.each do |book_isbn|
		%tr
			%td.isbn
				= link_to book_isbn.isbn, edit_manually_add_isbn_path(book_isbn.id), remote: true
			%td.title
				= book_isbn.title
			%td.occurrence
				= book_isbn.occurrence
			%td.destroy
				= link_to "destroy", manually_add_isbn_destroy_path(book_isbn.id, @search), remote: true
- unless @books_isbn.empty?
	.pull-right
		= paginate @books_isbn, :params => {:action => paginate_action}, remote: true