.row.user_status
  .span6
    - if user_signed_in?
      Logged in as
      %strong= current_user.name
      |
      = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' 
      - if current_user.admin  
        |
        = link_to "Create ISBN", manually_add_isbn_index_path, method: :get, :class => 'navbar-link'
        |
        = link_to "Refresh Book Details", refresh_details_path, method: :get, :class => 'navbar-link refresh_book_details', remote: true
      |
      = link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'
    - else
      = link_to "Login", new_user_session_path, :class => 'navbar-link'