<!DOCTYPE html>
<html>
<head>
  <title>Bestseller books</title>
 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render partial: "layouts/navigation" %>
<%= yield %>

<div id="dialog" title="Books details"></div>

</body>
<div class="ajax-progress"></div>
</html>

