<!DOCTYPE html>
<html>
<head>
  <title>Bestseller books</title>
 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery.raty" %>
<%= javascript_include_tag "jquery.raty.min" %>
</head>

<body>
<div id="main_div">
<%= render partial: "layouts/navigation" %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Heads up!</strong> We collect bestseller books and compare prices from amazon.in, flipkart.com, landmarkonthenet.com and crossword.in
  </div>
<%= yield %>

<div id="dialog" title="Books details"></div>
</div>
</body>
<div class="ajax-progress"></div>
</html>

